* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1.5; 
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: url("https://codeberryschool.github.io/simple-quote-page/assets/freedom.jpg") 
    no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}
#quote{
  padding: 6rem 5rem 2rem;
  font: 3rem 'Darker Grotesque', sans-serif;
  text-transform: uppercase;
}

#author{
    font: 1.2rem 'Vollkorn', serif;
}